body{
  margin: auto;
  background-image: linear-gradient(to right top, #c5c8cc, #cbd7db, #d1e6e4, #e0f4e7, #f8ffe8);
  border: solid;
}

nav {
  
  background-image: linear-gradient(to right top, #c5c8cc, #cbd7db, #d1e6e4, #e0f4e7, #f8ffe8);
    border-radius: 9px;
    padding: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 0 10px;
    margin:  0px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color:black;
    
  }
a :hover {
    background-color: #B39DDB;
    color: #ffffff;
 
    
}

  
  #main .carousel-inner img {
    max-height: 50vh;
    object-fit: cover;
    filter: grayscale(20%);
  }
  
  #carousel {
    position: relative;
  }
  
  #carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }
  
  
  #carousel .overlay .container,
  #carousel .overlay .row {
    height: 100%;
  }
  
#place-time {
    background-color: #3c9d9b;
    color: white;
    margin: 0%;
  
  }
  
 #place-time img {
    max-width: 100%;
    
  }
.Logo{
    width: 80px;
    height: auto;
  }




.buttom-navbar{
    border: 1px solid black;
}

.Title-form{
text-align:center;
color:black;
font-size:2rem;
margin:0px;
padding: 10px;
 }

.form{
flex-direction: column;
width: 100%;
justify-content: center;
display: flex;
align-items: center;
justify-content: center;
margin:40px;


 }
.form-input{
width: 450px;
text-align: center;
margin: 3px;
}
.container-sm{
text-align: center;
margin: 3px;
display: flex;
flex-direction: column;
align-items: center;
}

.button-send{
 background-color:#0b2d2d;
 border:0px;
 border-radius:4px;color:#ffffff;
 display:inline-block;
 font-family:sans-serif;
 font-size:13px;
 font-weight:bold;
 line-height:40px;
 text-align:center;
 text-decoration:none;
 width:200px;
 margin-top: 20px;
}
.form-control{
margin: 5%;
}

.container-cards{
 align-items: center;
 display: flex;
 margin: 5% 20% ;

}

.card{
  display: block;
  text-align: center;
  margin: 10px;

  background-color: #0e728b;
}

div.link-navegation{
  display: flex;
  align-items: center;
  margin-left: 40%;
}

.mb3{
  margin-left: 30%;
  margin-right: 30%;
}

.container-card-nosotros{
display: flex;
align-items: center;
margin: 0px 20%;

}

.link-navegation a{
  margin: 5px;
  text-decoration: underline;
}


/* parte footer*/

.footer {
    background: hsl(172, 66%, 37%);
    padding-bottom: 0.1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white
}

.social-media-icon:hover {
    background-color: #fff;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    height: 3px;
    background-color: white;
    margin-bottom: 60px;


}
#contacto{
  background-color: teal;
}